.btn-modal{
    display:inline;
    float:left;
    width: 300px;
}
.btn-modal{
    display:inline;
    float:left;
    width: 300px;
}
.desc{

    text-align: center;
}
.upload-file {
    text-align: center;
}
